body {
  background-color: #333;
  color: #f5f5f5;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

#project-name {
	color: #00a800;
}

.navbar-brand {
	font-size: 300%;
    position: absolute;
    left: 50%;
    margin-left: -88px !important;  /* 50% of your logo width */
    display: block;
}

.navbar {
    position: relative;
}

.navbar-left, .navbar-right {
	text-align: center;
}

.navbar-links {
	font-size: 18px;
}
